{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viendo Citas</title>
</head>
<body>
<font face="arial" size =4">
<FOND FACE="VERDANA">

<table width="1000" border="1" bordercolor="black"  border="5" align="center">
    <thead>
    <td colspan="8" align="center"><h2>Visualización Cita</h2></td>
    <tr>
        <td align="center" bgcolor="#f0e68c"> Id</td>
        <td align="center" bgcolor="#f0e68c"> Tipo Cita</td>
        <td align="center" bgcolor="#f0e68c" >Fecha de la cita</td>
        <td align="center" bgcolor="#f0e68c">Hora de la cita</td>
        <td align="center" bgcolor="#f0e68c">Medico</td>
        <td align="center" bgcolor="#f0e68c">Paciente</td>
        {% if perms.citas.change_agendamiento %}
        <td align="center" bgcolor="#f0e68c">Editar</td>
        {% endif %}
        {% if perms.citas.del_agendamiento %}
        <td align="center" bgcolor="#f0e68c">Eliminar</td>
        {% endif %}

    </tr>
    </thead>
    <tbody>
        {% for agendamiento in object_list %}
            <tr>
            <td align="center">{{ agendamiento.id }}</td>
            <td align="center">{{ agendamiento.get_tipocita_display }}</td>
            <td align="center">{{ agendamiento.fecha }}</td>
            <td align="center">{{ agendamiento.hora }}</td>
            <td align="center">{{ agendamiento.medico }}</td>
            <td align="center">{{ agendamiento.paciente }}</td>
            {% if perms.citas.change_agendamiento %}
            <td align="center"><input type="button" onclick="location.href='/editarcita/{{ agendamiento.id }}'" value="Editar"></td>
            {% endif %}
            {% if perms.citas.del_agendamiento %}
            <td align="center"><input type="button" onclick="location.href='/elicita/{{ agendamiento.id }}'" value="Eliminar"></td>
            {% endif %}
            </tr>

        {% endfor %}
    </tbody>
</table>
<table width="1000" border="1" bordercolor="black"  border="5" align="center">
    <thead>
    <td colspan="6" align="center"><input type="button" onclick="location.href='/insertarcita'" value="Agregar Cita">
    <td colspan="6" align="center"><input type="button" onclick="location.href='/logout'" value="Cerrar Sesión"></td>

    <tr>

</table>


</FOND>
</font>
</body>
</html>
{% endblock %}
