<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viendo Medico</title>
</head>
<body>


<font face="arial" size =4">
<FOND FACE="VERDANA">

<table width="600" border="1" bordercolor="black"  border="5" align="center">
    <thead>
    <td colspan="6" align="center"><h2>Visualización Medico</h2></td>
    <tr>
        <td align="center" bgcolor="#f0e68c"> Id</td>
        <td align="center" bgcolor="#f0e68c"> Especialidad</td>
        <td align="center" bgcolor="#f0e68c"> Usuario</td>
        {% if perms.citas.change_agendamiento %}
        <td align="center" bgcolor="#f0e68c">Editar</td>
        {% endif %}
        {% if perms.citas.del_agendamiento %}
        <td align="center" bgcolor="#f0e68c">Eliminar</td>
        {% endif %}

    </tr>
    </thead>
    <tbody>
        {% for medico in object_list %}
            <tr>
            <td align="center">{{ medico.id }}</td>
            <td align="center">{{ medico.get_especialidad_display}}</td>
            <td align="center">{{ medico.user}}</td>
            <td align="center"><input type="button" onclick="location.href='/editarmedico/{{ medico.id }}'" value="Editar"></td>
            <td align="center"><input type="button" onclick="location.href='/elimedico/{{ medico.id }}'" value="Eliminar"></td>

            </tr>

        {% endfor %}
    </tbody>
</table>
<table width="600" border="1" bordercolor="black"  border="5" align="center">
    <thead>
    <td align="center"><input type="button" onclick="location.href='http://localhost:8000/insertarmedico/#'" value="Agregar Medico">
    <td align="center"><input type="button" onclick="location.href='/login'" value="Cerrar Sesión"></td>

    <tr>

</table>
</FOND>
</font>
</body>
</html>
